iframe{
    width: 100%;
    height: 90vh
}
nav{
    display: flex;
    height: 5vh;
     padding-left: 30%;
     padding-top: 30px;
     background-color:darkslateblue;
     
 }

     

 
 a{
     

justify-content: center;
text-decoration: none;
color: white;
font-size: larger;
font-family:Verdana, Geneva, Tahoma, sans-serif;
width: 20%;


}
a:hover{
    background-color: springgreen;
}
body{
    background-color:slategrey;
}
